{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    {% include 'ShopContentBundle:Content:_sidebar.html.twig' %}
    {% include 'ShopContentBundle:Product:_listing_subcategory.html.twig' %}
</div>
{% endblock %}