{% block login_form %}
    <form action="{{ path('shop_account_login') }}" method="post">
        <fieldset>
            <div class="control-group">
                <label for="username" class="control-label">Username</label>

                <div class="controls">
                    <input type="text" name="username" placeholder="Enter your username" id="username"
                           class="input-xlarge focused"/>
                </div>
            </div>
            <div class="control-group">
                <label for="password" class="control-label">Password</label>

                <div class="controls">
                    <input type="password" name="password" placeholder="Enter your password" id="password"
                           class="input-xlarge"/>
                </div>
            </div>

            <button class="btn btn-primary pull-right" type="submit">Login</button>
        </fieldset>
    </form>
{% endblock %}